{% embed '@Gui/Partials/widget.twig' with { widget_title: 'Add Attribute set' } %}
    {% block widget_content %}
        {{ form_start(form, { 'attr': {'class': 'kv_autocomplete_form form-group--full-width-controls', 'id': 'attribute_set_form'} }) }}
        <table width="100%" class="attribute-set-table">
            <tr>
                <td class="attribute-set-table__cell attribute-set-table__cell--expand">
                    {{ form_errors(form) }}
                    {{ form_row(form) }}
                </td>
                <td class="attribute-set-table__cell">
                    <input type="button" onclick="return false" class="btn btn-primary" value="{{ 'Add' | trans }}"  id="add-attribute-set" />
                </td>
            </tr>
        </table>
        <input id="empty-attribute-key-message" type="hidden" value="{{ 'Please select attribute key first' | trans }}"/>
        {{ form_end(form) }}

        <link rel="stylesheet" href="{{ assetsPath('css/spryker-zed-product-attributes-set-gui-main.css') }}">
        <script src="{{ assetsPath('js/spryker-zed-product-attributes-set-gui-main.js') }}"></script>
    {% endblock %}
{% endembed %}
